<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.board">
	<select id="champ" resultType="com.board.domain.MainDTO">
		select 
			champ_id, champ_name, champ_name_kr
		from 
			champ_basic_info
	</select>
	
	<select id="chamDetail" resultType="com.board.domain.ChamDetailDTO">
		select
			championid, championname, championkrname, lane, win_rate, pick_rate, ban_rate
		from (
			select
				championid, championname, championkrname, lane, win_rate, pick_rate, ban_rate
			from
				test_champ_info
			where
				championid = #{req}
			order by 
				pick_rate
			desc
		)
		<![CDATA[where rownum <= 2]]>	
	</select>
	
	<select id="runes" resultType="com.board.domain.RunesDTO">
		select 
			mainrunes, subrunes, win_rate, pick_rate 
		from (
			select 
				mainrunes, subrunes, win_rate, pick_rate 
			from 
				runes 
			where 
				championid = #{chamId} and lane = #{lane} 
			order by 
				pick_rate 
			desc
		) 
		<![CDATA[where rownum <= 3]]>
			
	</select>
	
	<select id="runeInfo" resultType="com.board.domain.RuneInfoDTO">
		select
			rune_id, rune_name, rune_name_kr, rune_desc
		from
			runes_info
		where
			rune_id = #{req}
	</select>
	
	<select id="items" resultType="com.board.domain.ItemsDTO">
		select 
			* 
		from 
			items 
		where 
			championid = #{chamId} and lane = #{lane}
		order by 
			core1_pick_rate desc, core2_pick_rate desc, core3_pick_rate desc
	</select>
	
	<select id="itemInfo" resultType="com.board.domain.ItemInfoDTO">
		select 
			* 
		from 
			items_info 
		where 
			item_id = #{req}
	</select>
	
	<select id="counter" resultType="com.board.domain.CounterDTO">
		select 
			* 
		from 
			counter 
		where 
			championid = #{chamId} and lane = #{lane} and  win_rate != 100 and win_rate != 0
		order by 
			win_rate 
		desc
	</select>
	
	<select id="spells" resultType="com.board.domain.SpellsDTO">
		select 
			* 
		from 
			spells 
		where 
			championid = #{chamId} and lane = #{lane} and pick_rate > 0.5 
		order by 
			pick_rate 
		desc
	</select>
	
	<select id="spellInfo" resultType="com.board.domain.SpellInfoDTO">
		select 
			* 
		from 
			spells_info 
		where 
			spell_id = #{req}
	</select>
	
</mapper>